.message-input-container {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100vw;
  background-color: #3898d3;
  padding: 8px 0;
  position: fixed;
  bottom: 0;
}

.input-btn-wrapper {
  display: flex;
  width: 100%;
  max-width: 640px;
}

.message-input-field {
  flex-grow: 1;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  caret-color: #3175a0;
  border: 2px solid #3175a0;
}

.message-input-field::placeholder {
  color: #b2b2b4;
  padding-left: 4px;
}

.send-button {
  background-color: #fa876d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 16px;
}

.send-button:hover {
  background-color: #e9755d;
}

@media (max-width: 600px) {
  .input-btn-wrapper {
    margin: 8px;
  }
}
