.message-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.message-list {
  max-width: 640px;
  padding-bottom: 76px;
  overflow-y: auto;
}

.spinner-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-container {
  list-style-type: none;
}

@media (max-width: 600px) {
  .message-list {
    padding-left: 24px;
    padding-right: 24px;
  }
}
